li[value=first-child]:hover{
    background-color: black;
    color: bisque;
    font-style: italic;
}
li[value=active]:active{
    background-color: blueviolet;
    color: black;
}
li:first-child{
    background-color: brown;
    font-style: bold;
}
li:last-child{
    background-color: brown;
    font-style: italic;
}
li:nth-child(8){
    background-color: cadetblue;
    color: crimson;
}
li:not(.notselect){
    color: darkblue;
    font-style: italic;
    font-size: 30px;;
}